@grid: 8px;

h2 {
  margin-bottom: @grid * 2;
  margin-left: @grid;
}

.filter-input {
  border: 1px solid #ddd;
  border-radius: @grid / 2;
  padding: @grid;
  width: 150px;
  float: right;
  transition: width 0.25s;

  &:focus {
    width: 250px;
  }
}
